
/* general settings */
body, div, h1, h2 {
    margin: 0;
    padding: 0;
}

button:focus, input:focus {
    outline: 0;
}

button:active {
    background: #eee;
}

body {
    width: 100%;
}

/* layout */
.header {
    margin: 0;
    padding: 0;
    position: fixed;
    height: 120px;
    background: white;
    width: 100%;
    z-index: 100;
}

.main-content {
    top: 120px;
    margin: 0;
    float: right;
    width: 100%;
    padding: 0 18px;
    position: relative;
}

/* header */
.header h1 {
    margin-left: 24px;
    top: 60px;
    position: relative;
    margin-top: -18px;
    height: 36px;
    float: left;
}

#query {
    position: relative;
    top: 60px;
    height: 36px;
    margin-top: -18px;
    width: 100%;
    padding: 0 24px 0 300px;
    box-sizing: border-box;
}

#query input {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: solid 1px #ddd;
    padding: 6px;
    right: 100px;
    box-sizing: border-box;
}

#query > div {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-right: 120px;
}

#query button {
    position: absolute;
    width: 114px;
    height: 100%;
    padding: 0;
    margin: 0 18px 0 0;
    top: 0;
    right: 0;
    box-sizing: border-box;
    border-radius: 6px;
    border: solid 1px #ddd;
}

/* left side */
.left-side>div {
    margin: 0 12px 0 24px;
    padding: 6px 12px;
    border: solid 1px #eee;
    border-radius: 6px;
    min-height: 600px;
    overflow: auto;
}

#class-facets > ul {
    margin-left: -18px;
}

/* main content */
#result-list {
    margin: 0;
}

#result-list li {
    list-style: none;
}

#result-list > li::after {
    content: "";
    width: 100%;
    height: 1px;
    border-bottom: solid 1px;
    position: relative;
    display: block;
    color: #ddd;
    margin: 6px 0;
}

h2.instance a {
    text-decoration: none;
    font-weight: normal;
    color: indianred;
}

#result-list .hitting {
    color: deepskyblue;
    font-weight: bold;
}

#result-list p, #result-list h3 {
    margin:3px 0;
    font-weight: normal;
}

.field::after {
    content: ': ';
}

.field {
    color: darkgray;
}

#result-list li h3 {
    color: darkgreen;
    font-size: 1em;
}

#pagination {
    padding-left: 40px;
    display: block;
    margin: 18px 0;
}

#pagination div {
    display: inline-block;
    border: solid 1px #eeeeee;
    min-width: 18px;
    text-align: center;
}